*{
    margin: 0px;
    padding: 0px;
    font-family: serif;
}


:root{
    --navbar-height:59px;
}

#logo{
    margin: 36px 45px;

}

#logo img{
    margin: -22px -24px;
    height: 73px;
}

#navbar{
    align-items: center;
    display: flex;
    top: 0px;
    position: absolute;
}


#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;

}

#navbar ul{
    display: flex;
    list-style-type: none;
}

#navbar ul li{
    padding: 13px;
    font-size: 1.3rem;
    /* display: flex; */
}
 

#navbar ul li a{
    display: block;
    font-weight: 900;
    border-radius: 20px;
    text-decoration: none;
    padding: 4px 6px;
    cursor: pointer;
    display: flex;
    color: white;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;

}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 733px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    left: 0px;
    opacity: 0.89;
    background: url("bgimg.jpg") no-repeat center center/cover;
}

#home h1{
    color: white;
    text-align: center;
    font-weight: 900;
}

#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: serif;
}

.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}

.h-secondary{
    font-size: 2.3rem;
    padding: 12px;

}

#service{
    margin: 34px;
    /* display: flex; */
    
}

div .box{
    border: 2px solid brown;
    border-radius: 25px;
    padding: 30px;
    margin: 34px 18px;
    background-color: #f2f2f2;
    
}

.box img{
    height: 160px;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    
}


.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    cursor: pointer;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;

}

.center{
    text-align: center;
}

#client-sec{
    position: relative;
    /* height: 344px; */
}

#client-sec::before{
    content: "";
    position: absolute;
    background: url("f.jpg") no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

.client-item{
    padding: 5px;
}

#hp{
    height: 109px;
}

#client{
    display: flex;
    justify-content: center;
    align-items: center;
}

 #client img{
     height: 124px;  
} 

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url("contact.jpg") no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box form{
    width: 40%;
    
}

#contact-box label{
    font-size: 1.3rem;
    font-weight: bold;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
    border: 2px solid black;
}

/* #contact-box input[type(button)]{

    
} */

.form-grp{
    padding: 10px;
}

.form-grp button{
    height: auto;
    width: auto;
    font-weight: 700;
    font-size: 1.1rem;
}

.form-grp button:hover{
    height: auto;
    width: auto;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #f2f2f2;
}

footer{
    background: black;
    color: white;
    height: 50px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
